<!DOCTYPE html>
<html lang="en">
  <head>
    <title>References</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/query.css" rel="stylesheet">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/getPmcid.js"></script>
    <style>
    li {
        float: left;
    }
    </style>
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="about.html">About</a></li>
            <li role="presentation" class="active"><a href="#">References</a></li>
            <li role="presentation"><a href="query.html">Query Data</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">BenchSci Take-Home Test</h3>
      </div>
 
      <div class="jumbotron">
        <h1>References</h1>
        <ul>
            <li> <a
                href="https://code.tutsplus.com/tutorials/creating-a-web-app-from-scratch-using-python-flask-and-mysql--cms-22972">
                Jay's blog post on setting up Flask</a></li> <br>
            <li><a
            href="https://scotch.io/tutorials/getting-started-with-flask-a-python-microframework">Mbithe's
            blog post on Flask</a> </li> <br>
        <li><a
            href="https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-uwsgi-and-nginx-on-ubuntu-16-04">Basic
            setup</a></li> <br>
       <li> My friend for pointing me in the direction of Azure and its free
       credit for students</li>
        </ul>
           
    </div> 
 
      <footer class="footer">
        <p>&copy; Krishna 2017</p>
      </footer>
 
    </div>
  </body>
</html>
